In [1]:
# data clean packages
import pandas as pd
import numpy as np
import datetime as dt

# plot packages
import seaborn as sns; sns.set(color_codes=True)
import matplotlib.pyplot as plt

# Network Features

In [4]:
df_2016 = pd.read_pickle('net2016.pkl')

In [6]:
df_2016 = df_2016.reset_index()

In [8]:
df_2016 = df_2016.rename(columns = {'firms': 'cusip_9'})

In [9]:
df_2016.head()

     cusip_9        year  in_degree  out_degree
0  Y7693G104  2016-12-31          0           2
1  Y7087B109  2016-12-31          8           5
2  Y7127B135  2016-12-31         12           0
3  V6796A108  2016-12-31          4          14
4  30231G102  2016-12-31        289          69

In [2]:
df_degree = pd.read_pickle('net2015.pkl')

In [8]:
df_degree = df_degree.reset_index()

In [10]:
df_degree = df_degree.rename(columns = {'firms': 'cusip_9'})

In [3]:
df_degree.head()

     cusip_9        year  in_degree  out_degree
0  H50430232  2015-12-31         12          34
1  457153104  2015-12-31         59          13
2  878237106  2015-12-31         33          44
3  086516101  2015-12-31        111           7
4  931142103  2015-12-31        401          29

In [15]:
df_net = pd.read_pickle('network_features_2015.pkl')

In [18]:
df_net = df_net.reset_index()
df_net = df_net.rename(columns = {'index': 'cusip_9'})

In [21]:
df_net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16690 entries, 0 to 16689
Data columns (total 13 columns):
cusip_9                    16690 non-null object
out_degree_centrality      16690 non-null float64
in_degree_centrality       16690 non-null float64
closeness_centrality       16690 non-null float64
betweenness_centrality     16690 non-null float64
eigenvector_centrality     16690 non-null float64
harmonic_centrality        16690 non-null float64
average_neighbor_degree    16690 non-null float64
square_clustering          16690 non-null float64
core_number                16690 non-null int64
pagerank                   16690 non-null float64
hubs                       16690 non-null float64
authorities                16690 non-null float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.7+ MB

In [19]:
df_net.head()

,cusip_9,out_degree_centrality,in_degree_centrality,closeness_centrality,betweenness_centrality,eigenvector_centrality,harmonic_centrality,average_neighbor_degree,square_clustering,core_number,pagerank,hubs,authorities
0,H50430232,0.002037,0.000719,0.122002,0.000145,0.006178,2188.354365,8.647059,0.002470,19,0.000043,0.000341,0.000204
1,457153104,0.000779,0.003535,0.155264,0.000662,0.073291,2889.579762,6.461538,0.002287,19,0.000424,0.000044,0.001082
2,878237106,0.002636,0.001977,0.142580,0.002216,0.036882,2620.601190,52.568182,0.002846,19,0.000147,0.000570,0.000587
3,086516101,0.000419,0.006651,0.156708,0.000706,0.077164,2940.965873,23.285714,0.002941,19,0.000543,0.000046,0.001983
4,931142103,0.001738,0.024028,0.183122,0.012074,0.155457,3534.923810,8.137931,0.002457,19,0.003122,0.000064,0.004436

In [20]:
df_net_deg = pd.merge(df_net,df_degree, how = 'inner', on = 'cusip_9')

In [34]:
df_net_deg['cusip_8'] = df_net_deg['cusip_9'].str[:8]

In [16]:
df_net_deg.to_pickle('df_net_deg.pkl')

In [17]:
df_net_deg = pd.read_pickle('df_net_deg.pkl')

In [18]:
df_net_deg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15258 entries, 0 to 15257
Data columns (total 20 columns):
cusip_9                    15258 non-null object
out_degree_centrality      15258 non-null float64
in_degree_centrality       15258 non-null float64
closeness_centrality       15258 non-null float64
betweenness_centrality     15258 non-null float64
eigenvector_centrality     15258 non-null float64
harmonic_centrality        15258 non-null float64
average_neighbor_degree    15258 non-null float64
square_clustering          15258 non-null float64
core_number                15258 non-null int64
pagerank                   15258 non-null float64
hubs                       15258 non-null float64
authorities                15258 non-null float64
year_x                     15258 non-null object
in_degree_x                15258 non-null int64
out_degree_x               15258 non-null int64
cusip_8                    15258 non-null object
year_y                     15258 non-null object
in_degree_y                15258 non-null int64
out_degree_y               15258 non-null int64
dtypes: float64(11), int64(5), object(4)
memory usage: 2.4+ MB

In [21]:
df_net_deg = df_net_deg.rename(columns = {'year_x': 'year', 'in_degree_x': 'in_degree_2015','out_degree_x': 'out_degree_2015',
                            'in_degree_y':'in_degree_2016','out_degree_y':'out_degree_2016'})

In [23]:
df_net_deg = df_net_deg.drop(columns = ['year_y'])

In [25]:
df_net_deg['out_diff'] = df_net_deg['out_degree_2016'] - df_net_deg['out_degree_2015']

In [57]:
df_net_deg.to_pickle('df_net_deg.pkl')

In [53]:
df_net_deg = pd.read_pickle('df_net_deg.pkl')

In [55]:
df1 = df_net_deg.loc[df_net_deg['out_diff'] < 0]
df1['group'] = -1
df2 = df_net_deg.loc[df_net_deg['out_diff'] == 0]
df2['group'] = 0
df3 = df_net_deg.loc[df_net_deg['out_diff'] > 0]
df3['group'] = 1
df_net_deg = pd.concat([df1,df2,df3])

I:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

I:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
I:\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [85]:
df_net_deg.head()

,cusip_9,out_degree_centrality,in_degree_centrality,closeness_centrality,betweenness_centrality,eigenvector_centrality,harmonic_centrality,average_neighbor_degree,square_clustering,core_number,...,hubs,authorities,year,in_degree_2015,out_degree_2015,cusip_8,in_degree_2016,out_degree_2016,out_diff,group
4,931142103,0.001738,0.024028,0.183122,1.207448e-02,1.554571e-01,3534.923810,8.137931,0.002457,19,...,0.000064,0.004436,2015-12-31,401,29,93114210,432,27,-2,-1
9,171779309,0.000899,0.001438,0.117249,1.218009e-04,4.007248e-03,2102.871934,21.000000,0.001077,17,...,0.000171,0.000343,2015-12-31,24,15,17177930,22,12,-3,-1
10,J13650106,0.000120,0.000060,0.000060,2.437062e-07,2.312490e-23,1.000000,95.500000,0.000000,3,...,0.000047,0.000008,2015-12-31,1,2,J1365010,2,1,-1,-1
14,292475209,0.001498,0.000719,0.127585,3.270477e-04,7.370309e-03,2305.819048,58.400000,0.003439,19,...,0.000421,0.000230,2015-12-31,12,25,29247520,10,22,-3,-1
18,548661107,0.000240,0.006531,0.158773,1.407380e-03,3.743791e-02,2965.220238,29.750000,0.001914,18,...,0.000053,0.001283,2015-12-31,109,4,54866110,121,2,-2,-1

In [86]:
df_net_deg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15258 entries, 4 to 15228
Data columns (total 21 columns):
cusip_9                    15258 non-null object
out_degree_centrality      15258 non-null float64
in_degree_centrality       15258 non-null float64
closeness_centrality       15258 non-null float64
betweenness_centrality     15258 non-null float64
eigenvector_centrality     15258 non-null float64
harmonic_centrality        15258 non-null float64
average_neighbor_degree    15258 non-null float64
square_clustering          15258 non-null float64
core_number                15258 non-null int64
pagerank                   15258 non-null float64
hubs                       15258 non-null float64
authorities                15258 non-null float64
year                       15258 non-null object
in_degree_2015             15258 non-null int64
out_degree_2015            15258 non-null int64
cusip_8                    15258 non-null object
in_degree_2016             15258 non-null int64
out_degree_2016            15258 non-null int64
out_diff                   15258 non-null int64
group                      15258 non-null int64
dtypes: float64(11), int64(7), object(3)
memory usage: 2.6+ MB

# Institutes

In [11]:
s34type4 = pd.read_pickle('s34type4_2015.pkl')

In [38]:
s34type4.to_pickle('s34type4_2015.pkl')

In [12]:
s34type4.head()

        fdate     cusip    mgrno  type     change   cusip_8
0  2015-03-31  39874310   8842.0   5.0   -26800.0  39874310
1  2015-03-31  60871120   9010.0   4.0 -1301654.0  60871120
2  2015-03-31  43164310  10204.0   5.0    -1450.0  43164310
3  2015-03-31  22989410  10346.0   5.0  -211139.0  22989410
4  2015-03-31  11143410  10387.0   5.0  -230202.0  11143410

# Recommendation

In [44]:
reco = pd.read_pickle('ibes.pkl')

In [45]:
reco.head()

,ticker,cusip,oftic,cname,statpers,meanrec,medrec,stdev,numrec,numup,numdown,buypct,sellpct,holdpct,usfirm
0,0000,87482X10,TLMR,TALMER BANCORP,2014-03-20,2.0,2.0,0.71,5.0,0.0,0.0,80.0,0.0,20.0,1.0
1,0000,87482X10,TLMR,TALMER BANCORP,2014-04-17,2.0,2.0,0.71,5.0,0.0,0.0,80.0,0.0,20.0,1.0
2,0000,87482X10,TLMR,TALMER BANCORP,2014-05-15,2.0,2.0,0.71,5.0,0.0,0.0,80.0,0.0,20.0,1.0
3,0000,87482X10,TLMR,TALMER BANCORP,2014-06-19,2.0,2.0,0.71,5.0,0.0,0.0,80.0,0.0,20.0,1.0
4,0000,87482X10,TLMR,TALMER BANCORP,2014-07-17,2.0,2.0,0.71,5.0,0.0,0.0,80.0,0.0,20.0,1.0

In [49]:
reco = reco[['cusip','statpers','meanrec','medrec', 'stdev', 'numrec','numup','numdown', 'buypct', 'sellpct','holdpct','usfirm']]

In [52]:
type(reco['statpers'])

pandas.core.series.Series

In [54]:
reco_2015 = reco.loc[(reco['statpers']> dt.date(2015,6,1)) & (reco['statpers']< dt.date(2015,7,1))]

In [58]:
reco_2015.to_pickle('reco_2015.pkl')

In [2]:
reco_2015 = pd.read_pickle('reco_2015.pkl')

In [7]:
reco_2015 = reco_2015.rename(columns = {'cusip':'cusip_8'})

In [8]:
reco_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17776 entries, 15 to 4621405
Data columns (total 12 columns):
cusip_8     17776 non-null object
statpers    17776 non-null object
meanrec     17776 non-null float64
medrec      17776 non-null float64
stdev       17776 non-null float64
numrec      17776 non-null float64
numup       17776 non-null float64
numdown     17776 non-null float64
buypct      17776 non-null float64
sellpct     17776 non-null float64
holdpct     17776 non-null float64
usfirm      17776 non-null float64
dtypes: float64(10), object(2)
memory usage: 1.8+ MB

In [9]:
reco_2015.head()

,cusip_8,statpers,meanrec,medrec,stdev,numrec,numup,numdown,buypct,sellpct,holdpct,usfirm
15,87482X10,2015-06-18,2.00,2.0,0.71,5.0,0.0,0.0,80.00,0.00,20.0,1.0
45,26878510,2015-06-18,2.83,3.0,0.87,24.0,0.0,1.0,29.17,8.33,62.5,1.0
96,66515910,2015-06-18,2.75,3.0,0.50,4.0,0.0,0.0,25.00,0.00,75.0,0.0
127,02504D10,2015-06-18,2.00,2.0,0.82,4.0,0.0,0.0,75.00,0.00,25.0,1.0
168,14163310,2015-06-18,2.80,3.0,0.84,5.0,0.0,0.0,40.00,20.00,40.0,1.0

In [10]:
df_net_deg = pd.read_pickle('df_net_deg.pkl')

In [18]:
cen_inst = pd.merge(df_net_deg, s34type4, how='inner', on='cusip_8')

In [19]:
cen_inst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3396 entries, 0 to 3395
Data columns (total 25 columns):
cusip_9                    3396 non-null object
out_degree_centrality      3396 non-null float64
in_degree_centrality       3396 non-null float64
closeness_centrality       3396 non-null float64
betweenness_centrality     3396 non-null float64
eigenvector_centrality     3396 non-null float64
harmonic_centrality        3396 non-null float64
average_neighbor_degree    3396 non-null float64
square_clustering          3396 non-null float64
core_number                3396 non-null int64
pagerank                   3396 non-null float64
hubs                       3396 non-null float64
authorities                3396 non-null float64
year                       3396 non-null object
in_degree_2015             3396 non-null int64
out_degree_2015            3396 non-null int64
cusip_8                    3396 non-null object
in_degree_2016             3396 non-null int64
out_degree_2016            3396 non-null int64
out_diff                   3396 non-null int64
fdate                      3396 non-null object
cusip                      3396 non-null object
mgrno                      3396 non-null float64
type                       3396 non-null float64
change                     3396 non-null float64
dtypes: float64(14), int64(6), object(5)
memory usage: 689.8+ KB

In [21]:
cen_inst_reco = pd.merge(cen_inst, reco_2015, how = 'inner', on = 'cusip_8')

In [23]:
cen_inst_reco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2785 entries, 0 to 2784
Data columns (total 36 columns):
cusip_9                    2785 non-null object
out_degree_centrality      2785 non-null float64
in_degree_centrality       2785 non-null float64
closeness_centrality       2785 non-null float64
betweenness_centrality     2785 non-null float64
eigenvector_centrality     2785 non-null float64
harmonic_centrality        2785 non-null float64
average_neighbor_degree    2785 non-null float64
square_clustering          2785 non-null float64
core_number                2785 non-null int64
pagerank                   2785 non-null float64
hubs                       2785 non-null float64
authorities                2785 non-null float64
year                       2785 non-null object
in_degree_2015             2785 non-null int64
out_degree_2015            2785 non-null int64
cusip_8                    2785 non-null object
in_degree_2016             2785 non-null int64
out_degree_2016            2785 non-null int64
out_diff                   2785 non-null int64
fdate                      2785 non-null object
cusip                      2785 non-null object
mgrno                      2785 non-null float64
type                       2785 non-null float64
change                     2785 non-null float64
statpers                   2785 non-null object
meanrec                    2785 non-null float64
medrec                     2785 non-null float64
stdev                      2785 non-null float64
numrec                     2785 non-null float64
numup                      2785 non-null float64
numdown                    2785 non-null float64
buypct                     2785 non-null float64
sellpct                    2785 non-null float64
holdpct                    2785 non-null float64
usfirm                     2785 non-null float64
dtypes: float64(24), int64(6), object(6)
memory usage: 805.0+ KB

In [40]:
cen_inst_reco.head().T

,4,9,14,15,16
cusip_9,931142103,171779309,548661107,501044101,437076102
out_degree_centrality,0.00173767,0.000898796,0.000239679,0.000179759,0.000359518
in_degree_centrality,0.0240278,0.00143807,0.00653125,0.00533285,0.00772964
closeness_centrality,0.183122,0.117249,0.158773,0.148569,0.156941
betweenness_centrality,0.0120745,0.000121801,0.00140738,0.000647742,0.00199341
eigenvector_centrality,0.155457,0.00400725,0.0374379,0.0237989,0.0378408
harmonic_centrality,3534.92,2102.87,2965.22,2715.38,2917.99
average_neighbor_degree,8.13793,21,29.75,27.3333,21.1667
square_clustering,0.002457,0.00107714,0.00191449,0,0.0032591
core_number,19,17,18,16,18
pagerank,0.00312238,6.44858e-05,0.000779345,0.00054089,0.000895328
hubs,6.36068e-05,0.000170533,5.31119e-05,4.73022e-06,4.40512e-05
authorities,0.00443559,0.000343111,0.00128251,0.00106991,0.00144031
year,2015-12-31,2015-12-31,2015-12-31,2015-12-31,2015-12-31
in_degree_2015,401,24,109,89,129
out_degree_2015,29,15,4,3,6
cusip_8,93114210,17177930,54866110,50104410,43707610
in_degree_2016,432,22,121,109,143
out_degree_2016,27,12,2,2,4
out_diff,-2,-3,-2,-1,-2
fdate,2015-06-30,2015-06-30,2015-06-30,2015-06-30,2015-06-30
cusip,93114210,17177930,54866110,50104410,43707610
mgrno,94800,94230,94800,95105,95105
type,5,5,5,5,5
change,-536,-245272,-281,-6100,-275895
statpers,2015-06-18,2015-06-18,2015-06-18,2015-06-18,2015-06-18
meanrec,2.8,1.95,2.27,2,2.13
medrec,3,2,2,2,2
stdev,1.03,0.86,0.83,0.87,0.82
numrec,30,21,30,22,30
numup,1,0,0,0,0
numdown,0,0,0,0,0
buypct,23.33,76.19,56.67,63.64,60
sellpct,13.33,4.76,3.33,0,0
holdpct,63.33,19.05,40,36.36,40
usfirm,1,1,1,1,1
in_diff,31,-2,12,20,14
group,-1,-1,-1,-1,-1

In [41]:
len(cen_inst_reco['group'])

2785

In [25]:
cen_inst_reco['in_diff'] = cen_inst_reco['in_degree_2016'] - cen_inst_reco['in_degree_2015']

In [34]:
cen_inst_reco = pd.read_pickle('cen_inst_reco.pkl')

In [35]:
df1 = cen_inst_reco.loc[cen_inst_reco['out_diff'] < 0]
df1['group'] = -1

I:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
df2 = cen_inst_reco.loc[cen_inst_reco['out_diff'] == 0]
df2['group'] = 0

I:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
df3 = cen_inst_reco.loc[cen_inst_reco['out_diff'] > 0]
df3['group'] = 1

I:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
cen_inst_reco = pd.concat([df1,df2,df3])

In [43]:
cen_inst_reco['out_diff_ratio'] = cen_inst_reco['out_diff']/cen_inst_reco['out_degree_2015']

In [51]:
cen_inst_reco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2785 entries, 4 to 2769
Data columns (total 39 columns):
cusip_9                    2785 non-null object
out_degree_centrality      2785 non-null float64
in_degree_centrality       2785 non-null float64
closeness_centrality       2785 non-null float64
betweenness_centrality     2785 non-null float64
eigenvector_centrality     2785 non-null float64
harmonic_centrality        2785 non-null float64
average_neighbor_degree    2785 non-null float64
square_clustering          2785 non-null float64
core_number                2785 non-null int64
pagerank                   2785 non-null float64
hubs                       2785 non-null float64
authorities                2785 non-null float64
year                       2785 non-null object
in_degree_2015             2785 non-null int64
out_degree_2015            2785 non-null int64
cusip_8                    2785 non-null object
in_degree_2016             2785 non-null int64
out_degree_2016            2785 non-null int64
out_diff                   2785 non-null int64
fdate                      2785 non-null object
cusip                      2785 non-null object
mgrno                      2785 non-null float64
type                       2785 non-null float64
change                     2785 non-null float64
statpers                   2785 non-null object
meanrec                    2785 non-null float64
medrec                     2785 non-null float64
stdev                      2785 non-null float64
numrec                     2785 non-null float64
numup                      2785 non-null float64
numdown                    2785 non-null float64
buypct                     2785 non-null float64
sellpct                    2785 non-null float64
holdpct                    2785 non-null float64
usfirm                     2785 non-null float64
in_diff                    2785 non-null int64
group                      2785 non-null int64
out_diff_ratio             2785 non-null float64
dtypes: float64(25), int64(8), object(6)
memory usage: 870.3+ KB

In [47]:
cen_inst_reco['out_diff_ratio'] = cen_inst_reco['out_diff_ratio'].replace([np.inf, -np.inf], 0)

In [49]:
cen_inst_reco = cen_inst_reco.fillna(0)

In [50]:
cen_inst_reco.to_pickle('cen_inst_reco.pkl')

# compustat

In [79]:
comp = pd.read_pickle('comp_float_id.pkl')

In [80]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302803 entries, 75 to 785722
Columns: 918 entries, gvkey to rank
dtypes: float64(915), object(3)
memory usage: 2.1+ GB

In [81]:
comp.head()

,gvkey,datadate,cusip,fyear,adrr,ajex,ajp,currtr,curuscn,fyr,...,adjex_c,cshtr_f,dvpsp_f,dvpsx_f,mkvalt,prcc_f,prch_f,prcl_f,adjex_f,rank
75,001119,2008-12-31,006212104,2008.0,NaN,1.0,1.0,1.0,NaN,12.0,...,1.0,34257507.0,0.64,0.640,NaN,8.03,13.97,6.94,1.0,NaN
122,001119,2009-12-31,006212104,2009.0,NaN,1.0,1.0,1.0,NaN,12.0,...,1.0,33002859.0,0.45,0.450,NaN,10.10,10.30,6.00,1.0,NaN
123,001004,2002-05-31,000361105,2001.0,NaN,1.0,1.0,1.0,NaN,5.0,...,1.0,29233000.0,0.22,0.160,364.5928,11.44,17.45,6.96,1.0,1.0
124,001004,2002-05-31,000361105,2001.0,NaN,NaN,NaN,NaN,NaN,5.0,...,1.0,29233000.0,0.22,0.160,364.5928,11.44,17.45,6.96,1.0,NaN
125,001004,2003-05-31,000361105,2002.0,NaN,1.0,1.0,1.0,NaN,5.0,...,1.0,23104900.0,0.05,0.025,143.3295,4.50,11.44,2.92,1.0,1.0

In [82]:
comp_2014 = comp.loc[comp['fyear'] == 2014]

In [83]:
comp_2014 = comp_2014.drop_duplicates(subset = 'cusip', keep = 'last')

In [84]:
comp_2014['datadate'].unique()

array([datetime.date(2015, 5, 31), datetime.date(2014, 12, 31),
       datetime.date(2014, 6, 30), datetime.date(2014, 11, 30),
       datetime.date(2015, 3, 31), datetime.date(2014, 9, 30),
       datetime.date(2014, 10, 31), datetime.date(2015, 4, 30),
       datetime.date(2014, 7, 31), datetime.date(2015, 2, 28),
       datetime.date(2014, 8, 31), datetime.date(2015, 1, 31)],
      dtype=object)

In [76]:
comp_2014.reset_index(inplace = True)

In [68]:
comp_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11606 entries, 153 to 785713
Columns: 918 entries, gvkey to rank
dtypes: float64(915), object(3)
memory usage: 81.4+ MB

In [77]:
comp_2014.head()

,index,gvkey,datadate,cusip,fyear,adrr,ajex,ajp,currtr,curuscn,...,adjex_c,cshtr_f,dvpsp_f,dvpsx_f,mkvalt,prcc_f,prch_f,prcl_f,adjex_f,rank
0,153,001004,2015-05-31,000361105,2014.0,NaN,NaN,NaN,NaN,NaN,...,1.0,6.540965e+07,0.3000,0.3000,1046.3954,29.54,34.24,22.37,1.0,NaN
1,403,001119,2014-12-31,006212104,2014.0,NaN,1.0,1.0,1.0,NaN,...,1.0,3.411404e+07,1.1800,1.1800,NaN,13.68,14.90,12.14,1.0,NaN
2,1294,001045,2014-12-31,02376R102,2014.0,NaN,NaN,NaN,NaN,NaN,...,1.0,3.119956e+09,0.2000,0.2000,37405.5843,53.63,54.64,25.06,1.0,NaN
3,1460,001050,2014-12-31,125141101,2014.0,NaN,NaN,NaN,NaN,NaN,...,1.0,2.068057e+07,0.2300,0.2300,408.1892,15.54,18.90,12.40,1.0,NaN
4,1594,001417,2014-06-30,46132L107,2014.0,NaN,1.0,1.0,1.0,NaN,...,1.0,9.303613e+06,1.1757,1.1757,NaN,19.18,19.19,17.15,1.0,NaN

In [78]:
comp_2014.to_pickle('comp_2014.pkl')