In [1]:
import wrds
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
db = wrds.Connection()

Enter your WRDS username [tsinghua]: weixk
Enter your password: ···················

WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [3]:
db.list_tables(library='revere')

['address_type',
 'chars',
 'company',
 'company_address',
 'company_address_type',
 'company_alias',
 'company_cusip',
 'company_cusip_fs',
 'company_factset',
 'company_isin',
 'company_isin_fs',
 'company_redirect',
 'company_region',
 'company_security',
 'company_sedol',
 'company_sedol_fs',
 'company_ticker',
 'company_ticker_fs',
 'company_valoren',
 'country',
 'indication',
 'place_of_listing',
 'product',
 'product_type',
 'region',
 'region_map',
 'stage_of_development',
 'wrds_company',
 'wrds_company_hist',
 'geo31_region_replacement',
 'geo31_region_structure',
 'geo31_report',
 'geo31_report_item',
 'wrds_geo_exp',
 'company_rbics2_focus_l6',
 'company_rbics_focus_2013_l6',
 'company_sector_all',
 'company_sector_focus',
 'company_sector_particip',
 'company_sector_pureplay',
 'company_sector_summary',
 'company_segrev_item',
 'company_segrev_report',
 'company_segrev_summary',
 'indication_sector',
 'period_fintype',
 'period_length_unit',
 'product_sector',
 'rbics2_structure_l6',
 'rbics_structure_2013_l6',
 'sector',
 'sector_assoc_type',
 'sector_path',
 'sector_summary',
 'wrds_company_segrev_detail',
 'wrds_company_segrev_report',
 'wrds_company_segrev_summary',
 'wrds_product_merged',
 'wrds_product_sector',
 'wrds_sector',
 'relationship',
 'relationship_keyword',
 'relationship_subsidiary',
 'relationship_summary',
 'relationship_type',
 'supply_chain',
 'wrds_relationship',
 'geo3_region_structure',
 'geo3_report_item',
 'geo3_region_replacement',
 'geo3_report']

In [9]:
product = db.describe_table('revere', 'company_rbics2_focus_l6')

Approximately 113457 rows in revere.company_rbics2_focus_l6.

In [10]:
product.head()

           name  nullable         type
0        start_      True         DATE
1          end_      True         DATE
2    company_id      True   VARCHAR(9)
3  rbics2_l6_id      True  VARCHAR(12)

In [14]:
db.get_table('revere','sector_summary',obs = 10)

ProgrammingError: (psycopg2.ProgrammingError) permission denied for relation sector_summary
 [SQL: 'SELECT * FROM revere.sector_summary  LIMIT 10 OFFSET 0;'] (Background on this error at: http://sqlalche.me/e/f405)

In [6]:
db.describe_table('revere', 'wrds_geo_exp')

Approximately 16724700 rows in revere.wrds_geo_exp.

                   name  nullable              type
0            company_id      True        VARCHAR(9)
1                start_      True              DATE
2                  end_      True              DATE
3             report_id      True        VARCHAR(9)
4             region_id      True        VARCHAR(3)
5           est_percent      True  DOUBLE PRECISION
6            est_amount      True  DOUBLE PRECISION
7                  conf      True  DOUBLE PRECISION
8        certainty_rank      True  DOUBLE PRECISION
9       certainty_class      True        VARCHAR(1)
10    period_start_date      True              DATE
11      period_end_date      True              DATE
12         total_amount      True  DOUBLE PRECISION
13            parent_id      True        VARCHAR(3)
14                 name      True       VARCHAR(44)
15         layer_number      True  DOUBLE PRECISION
16                 path      True      VARCHAR(173)
17          iso_alpha_2      True        VARCHAR(2)
18          iso_alpha_3      True        VARCHAR(3)
19          iso_numeric      True  DOUBLE PRECISION
20          parent_name      True       VARCHAR(44)
21  parent_layer_number      True  DOUBLE PRECISION
22          parent_path      True      VARCHAR(173)
23   parent_iso_alpha_2      True        VARCHAR(2)
24   parent_iso_alpha_3      True        VARCHAR(3)
25   parent_iso_numeric      True  DOUBLE PRECISION
26                cusip      True        VARCHAR(9)
27                 isin      True       VARCHAR(12)
28               ticker      True       VARCHAR(32)

In [8]:
db.get_table('revere','wrds_geo_exp', obs =10).T

,0,1,2,3,4,5,6,7,8,9
company_id,10001,10001,10001,10001,10001,10001,10001,10001,10001,10001
start_,2004-03-25,2004-03-25,2004-03-25,2004-03-25,2004-03-25,2005-03-17,2005-03-17,2005-03-17,2005-03-17,2005-03-17
end_,4000-01-01,4000-01-01,4000-01-01,4000-01-01,4000-01-01,4000-01-01,4000-01-01,4000-01-01,4000-01-01,4000-01-01
report_id,15588,15588,15588,15588,15588,15589,15589,15589,15589,15589
region_id,100,101,164,167,169,100,101,164,167,169
est_percent,100,100,100,100,100,100,100,100,100,100
est_amount,1.5248e+07,1.5248e+07,1.5248e+07,1.5248e+07,1.5248e+07,2.0912e+07,2.0912e+07,2.0912e+07,2.0912e+07,2.0912e+07
conf,1,1,1,1,1,1,1,1,1,1
certainty_rank,80,80,80,80,80,80,80,80,80,80
certainty_class,A,A,A,A,A,A,A,A,A,A
period_start_date,2003-01-01,2003-01-01,2003-01-01,2003-01-01,2003-01-01,2004-01-01,2004-01-01,2004-01-01,2004-01-01,2004-01-01
period_end_date,2003-12-31,2003-12-31,2003-12-31,2003-12-31,2003-12-31,2004-12-31,2004-12-31,2004-12-31,2004-12-31,2004-12-31
total_amount,1.5248e+07,1.5248e+07,1.5248e+07,1.5248e+07,1.5248e+07,2.0912e+07,2.0912e+07,2.0912e+07,2.0912e+07,2.0912e+07
parent_id,None,100,101,164,167,None,100,101,164,167
name,General / Global,Americas,North America,United States and Canada,United States,General / Global,Americas,North America,United States and Canada,United States
layer_number,0,1,2,3,4,0,1,2,3,4
path,General / Global,General / Global > Americas,General / Global > Americas > North America,General / Global > Americas > North America > ...,General / Global > Americas > North America > ...,General / Global,General / Global > Americas,General / Global > Americas > North America,General / Global > Americas > North America > ...,General / Global > Americas > North America > ...
iso_alpha_2,None,None,None,None,US,None,None,None,None,US
iso_alpha_3,None,None,None,None,USA,None,None,None,None,USA
iso_numeric,NaN,NaN,NaN,NaN,840,NaN,NaN,NaN,NaN,840
parent_name,None,General / Global,Americas,North America,United States and Canada,None,General / Global,Americas,North America,United States and Canada
parent_layer_number,NaN,0,1,2,3,NaN,0,1,2,3
parent_path,None,General / Global,General / Global > Americas,General / Global > Americas > North America,General / Global > Americas > North America > ...,None,General / Global,General / Global > Americas,General / Global > Americas > North America,General / Global > Americas > North America > ...
parent_iso_alpha_2,None,None,None,None,None,None,None,None,None,None
parent_iso_alpha_3,None,None,None,None,None,None,None,None,None,None
parent_iso_numeric,None,None,None,None,None,None,None,None,None,None
cusip,879080109,879080109,879080109,879080109,879080109,879080109,879080109,879080109,879080109,879080109
isin,US8790801091,US8790801091,US8790801091,US8790801091,US8790801091,US8790801091,US8790801091,US8790801091,US8790801091,US8790801091
ticker,TRC,TRC,TRC,TRC,TRC,TRC,TRC,TRC,TRC,TRC